---
const info = [
  {
    title: "Lorem ipsum dolor sit amete alek sko yut sushieno",
    img: "img/products/gypsum-1.jpg",
    price: "12.000",
  },
  {
    title: "Lorem ipsum dolor sit amete alek sko yut sushieno",
    img: "img/products/gypsum-2.jpg",
    price: "12.000",
  },
  {
    title: "Lorem ipsum dolor sit amete alek sko yut sushieno",
    img: "img/products/gypsum-3.jpg",
    price: "12.000",
  },
  {
    title: "Lorem ipsum dolor sit amete alek sko yut sushieno",
    img: "img/products/gypsum-4.jpg",
    price: "12.000",
  },
  {
    title: "Lorem ipsum dolor sit amete alek sko yut sushieno",
    img: "img/products/gypsum-5.jpg",
    price: "12.000",
  },
  {
    title: "Lorem ipsum dolor sit amete alek sko yut sushieno",
    img: "img/products/gypsum-6.jpg",
    price: "12.000",
  },
  {
    title: "Lorem ipsum dolor sit amete alek sko yut sushieno",
    img: "img/products/gypsum-7.jpg",
    price: "12.000",
  },
  {
    title: "Lorem ipsum dolor sit amete alek sko yut sushieno",
    img: "img/products/gypsum-8.jpg",
    price: "12.000",
  },
  {
    title: "Lorem ipsum dolor sit amete alek sko yut sushieno",
    img: "img/products/gypsum-9.jpg",
    price: "12.000",
  },
  {
    title: "Lorem ipsum dolor sit amete alek sko yut sushieno",
    img: "img/products/gypsum-10.jpg",
    price: "12.000",
  },
];
---

<section id="products" class="pt-16 pb-16">
  <div class="container">
    <div
      class="w-full px-4 mb-6 lg:mb-2 flex justify-between flex-col md:flex-row"
    >
      <div class="max-w-xl">
        <h4 class="font-semibold text-primary mb-2 text-md">
          Gass Njajan gypsum- 🤑
        </h4>
        <h2 class="font-bold text-dark text-lg md:text-2xl mb-4">
          Temukan beragam produk terpopuler di Purbalingga Exhaust Store
        </h2>
      </div>
      <div class="text-sm">
        <a href="#" class="hover:text-primary">Lihat selengkapnya →</a>
      </div>
    </div>
    <div class="flex flex-wrap justify-center">
      {
        info.map((data, index) => (
          <div class="xs:w-1/2 px-4 md:w-1/4 lg:w-1/5 xl:w-1/6">
            <a href="#">
              <div class="bg-white rounded-xl overflow-hidden shadow-md mb-10 px-2">
                <img src={data.img} alt={data.title} class="w-full" />
                <div class="py-4 px-1 flex flex-col">
                  {/* <p class="text-blue-400 text-xs mb-1 font-bold">
                    Produk terlaris
                  </p> */}
                  <p class="block mb-3 line-clamp-2-fix text-dark text-xs md:text-sm hover:text-secondary transition duration-100">
                    {data.title}
                  </p>
                  <p class="font-black text-sm md:text-md text-dark pt-2 px-4 rounded-lg hover:opacity-80 transition duration-100 self-end">
                    Rp{data.price}
                  </p>
                </div>
              </div>
            </a>
          </div>
        ))
      }
    </div>
  </div>
</section>
