<section id="hero" class="pt-16 md:pt-24 pb-16">
  <div class="container">
    <div class="flex flex-wrap md:flex-row-reverse flex-col-reverse">
      <div class="w-full self-center px-4 lg:w-1/2">
        <h1 class="font-medium text-primary text-4xl font-jaro">
          Muhammad Amin
        </h1>
        <h2 class="font-bold text-dark text-2xl mb-5 md:text-3xl lg:text-4xl">
          Wirausahawan &amp; Mekanik
        </h2>
        <p class="font-medium text-slate-600 mb-10 leading-relaxed">
          Hello! I'm Zaki Dzulfikar, a web developer and student. I enjoy
          building websites and learning new things. Let's create something
          awesome together!
        </p>
      </div>
      <div class="w-full self-end pb-10 md:pb-0 px-4 lg:w-1/2">
        <div class="mt-10 relative lg:mt-9 lg:right-0">
          <img
            src="/img/personal-image.png"
            alt="Muhammad Zaki Dzulfikar"
            class="max-w-full mx-auto relative z-10"
          />
          <span
            class="absolute -bottom-0 left-1/2 -translate-x-1/2 scale-100 sm:scale-125 md:scale-125 lg:scale-125 xl:scale-150"
            ><svg
              width="500"
              viewBox="0 0 200 200"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill="#9EF0F0"
                d="M60.3,-20C68.2,4.7,57.8,35,36.8,50.1C15.8,65.2,-15.7,65.1,-36.8,50C-57.9,34.8,-68.5,4.5,-60.6,-20.2C-52.8,-44.9,-26.4,-64,-0.1,-64C26.2,-64,52.4,-44.8,60.3,-20Z"
                transform="translate(100 100)"></path></svg
            ></span
          >
        </div>
      </div>
    </div>
  </div>
</section>
