<section
  class="relative bg-[url(https://images.unsplash.com/photo-1530639834082-05bafb67fbbe?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)] bg-cover bg-center bg-no-repeat font-poppins"
  id="hero"
>
  <div
    class="absolute inset-0 bg-white/75 sm:bg-transparent sm:from-white/95 sm:to-white/25 sm:bg-gradient-to-r"
  >
  </div>
  <div
    class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
  >
    <div class="max-w-xl text-left">
      <h1 class="text-2xl font-extrabold md:text-3xl text-center sm:text-left">
        Transformasi Ide yang Menginspirasi &amp;
        <span class="font-extrabold text-primary"> Gypsum Terbaik</span>
      </h1>
      <p class="mt-4 max-w-lg text-sm">
        Amin Gypsum telah sukses menangani berbagai proyek, mulai dari
        perkantoran modern hingga hotel berbintang. Keahlian kami dalam desain
        dan pemasangan gypsum menjadikan setiap ruang lebih fungsional dan
        estetis.
      </p>
    </div>
  </div>
</section>
