<section
  id="invtitation"
  class="mx-auto w-full relative text-center bg-primary text-slate-100 font-poppins"
>
  <div class="py-4 md:py-6 xl:py-8">
    <h2 class="font-bold text-lg md:text-xl xl:text-2xl leading-snug">
      Tunggu apalagi?<br />Hubungi kami untuk informasi lebih lanjut!
    </h2>
    <a
      class="mt-4 xl:mt-8 px-4 py-2 sm:px-6 sm:py-3 lg:px-12 lg:py-5 text-sm md:text-base font-medium leading-tight inline-block bg-light text-primary rounded-full border border-transparent hover:bg-primary hover:text-slate-100 hover:border hover:border-slate-100 transition duration-300"
      href="/contact-us">Hubungi Kami</a
    >
  </div>
</section>
