<section
  class=`pt-36 pb-32 relative bg-[url('https://plus.unsplash.com/premium_photo-1682617326998-776d7443f02c?q=80&w=1933&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover bg-center bg-no-repeat font-poppins`
>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center text-white">
      <h1 class="text-2xl md:text-4xl lg:text-5xl font-bold tracking-tight">
        Layanan <span class="text-primary">Gypsum</span> Profesional untuk Hunian
        dan Bisnis Anda
      </h1>
      <p class="mt-6 text-sm md:text-base lg:text-lg leading-8 text-white">
        Kami menyediakan layanan gypsum berkualitas tinggi untuk pemasangan
        plafon dan partisi dinding yang elegan, dengan fokus pada kebutuhan
        hunian dan bisnis Anda.
      </p>
    </div>
  </div>
</section>
